<h1 id="sign-up-prompt">To sign up, enter your details below</h1>

<form action="/users" method="post">
	Email: <input name="email" type="text" placeholder="email">
	Password: <input name="password" type="password" placeholder="password">
	Re-enter password: <input name="password_confirmation" type="password" placeholder="confirm password">
	<input type="submit" value="Sign up" class="button">
</form>