<form action='/users' method='post'>
	Password: <input name="password" type="password">
	Re-enter password: <input name="password_confirmation" type="password">
	<input type="submit" value="Sign up">
</form>