<div id="new-link">
	<form action="/links" method="post">
		Url: <input type="text" name="url" placeholder="url">
		Title: <input type="text" name="title" placeholder="title">
		Tags: <input type='text' name="tags" placeholder="tags (space-separated)">
		<input type="submit" value="Add link">
	</form>
</div>