<header>

	<h1 class="add-link">
		<a href="/">Bookmark Manager</a>
	<span>
		<a href="/links/new" class="button highlighted">Add link</a>
	</span>
	</h1>

	<nav>

		<% if current_user %>
		<ul>
		  <li>
			<span class="welcome-message">
				Welcome, <%= current_user.email %>
			</span>
		  </li>
		  <li>
			<form id="sign-out" method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" class="button" value="Sign out">
			</form>
		  </li>
		</ul>
		<% else %>
		<ul>
			<li><a href="/users/new"  class="button">Sign up</a></li>
			<li><a href="/sessions/new"  class="button">Sign in</a></li>
		</ul>
		<% end %>
	</nav>
</header>
