<!DOCTYPE html>
<html>
	<head>
		<title id="logo">Bookmark Manager</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<link href="/reset.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<%= partial :header %>
		<%= partial :flash %>
		<%= yield %>
	</body>
</html>