<li class="link">
	<a class="title" href="<%= link.url %>" %><%= link.title %> </a>
	<div class="description">
		kdnckvnkjfnvkdnv v dfvdfvdfv db fb fgb fgb g
	</div>
	<span class="source">
		added yesterday by
		<a href"#">jamieallen59@gmail.com</a>
	</span>
</li>